<p id="pagetitle">Edit Customer Info</p>
<p id="subtitle">Make changes to this customer's contact details</p>

<%= render 'form' %>

<%= link_to 'Show', @customer %> |
<%= link_to 'Back to Customer Index', customers_path %>
