/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
table th, td{
	width: 200px;
	text-align: center;
}

.idnum{
	width: 50px;
}

.order-history-table .contact-information{
	display:none;
}