.leftside{
	float: left;
	width: 40%;
	clear: both;
}

.rightside{
	float: left;
	width: 60%;
	clear: both;
}

#pagetitle{
	font: bold;
	font-size: 105%
}

#pagesubtitle{
	font: italic;
	font-size: 75%;
}