#categorybar {
	width: 500px;
	table-layout: fixed;
}

#categorybar td {
	width: 150px;
	overflow: hidden;
	font-size: 30px;
	font-style: bold;
	/*text-shadow: 2px 2px #000000;*/
	text-align: center;
}

#categorybar a {
	text-decoration: none;
}

#categorybar a:link, a:visited {
	color: #0B610B;
	/*color: #585858;*/
}

#categorybar a:hover, a:active {
	color: white;
}

.car-panel {
	position:relative;
}

.cart-cart {
	position:absolute;
	width:70px;
	right:10px;
	top:-50px;
	text-align:center;
}

#cartstyle{
	width:40px;
	height:40px;
	background-image: url("fullcart.png");
	background-size: 50px 50px;
	font-size: 24px;
	padding-top: 6px;
	text-align: center;
}

#cartstyle a{
	color:red;
	text-decoration:none;
}

#cartstyle a:hover{
	color:white;
}

#cart_total{
	font-weight:bold;
	text-align:left;
}

#cart_detail_panel{
	display:none;
}

.product-bubble{
	border: dotted 2px black;
	display: inline-block;
	height: 250px;
	border-radius: 20px;
	background-color: beige;
	text-align: center;
	vertical-align: middle;
	padding: 4px;
	margin: 4px;
	min-height:100px;
	width:22%;
}

/*.product-bubble .description{
	min-height: 40px;
	padding: 4px;
	text-align: center;
}*/

.product-table{
	width: 500px;
	table-layout: fixed;
	border-spacing: 5px;
}

.product-table td{
	width: 150px;
	overflow: hidden;
	text-align: center;
	border: 1px dotted black;
	padding: 5px;
}

#button{
  background-color: #F3F781;
  color:blue;
  border-radius: 5px;
}